{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'lib/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet"> 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    

    {% block scriptsHeader %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="{% block classBody %} {% endblock %}">

{% block content %}

{% endblock %}


<script src="{% static 'lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

{% block scriptsfooter %}

{% endblock %}
{% comment %} <script src="{% static 'lib/bootstrap-5.0.2-dist/js/popper.min.js' %}"></script> {% endcomment %}

    
</body>
</html>